{{!-- Display ALL Blogs on the Home Page --}}



<div class="card m-6">
    <div class="card-content">
        <div class="title">
            <a class="blogLink" href=" /blogs/{{blog_id}}">
                <p class="has-text-black pl-5 has-background-grey-light">{{blog_title}}</p>
            </a>
            <p class="subtitle is-6 pl-5">{{user.username}}</p>
        </div>

        <div class="content">
            {{blog_content}}
            <br>
            <time datetime="2016-1-1">{{blog_post_date}}</time>
        </div>
    </div>
</div>