{{!-- Display ALL Blogs on the Home Page --}}



<div class="">
    <div class="">
        <div class="title">
            <a class="blogLink" href=" /blogs/{{blog_id}}">
                <p class="">{{blog_title}}</p>
            </a>
            <p class="">{{user.username}}</p>
        </div>

        <div class="">
            {{blog_content}}
            <br>
            <time datetime="2016-1-1">{{blog_post_date}}</time>
        </div>
    </div>
</div>