{{!-- Display Single Blog Post --}}

{{!-- EDIT/Update --}}
{{#if isowner}}
<button id="edit-btn">Edit</button>
{{/if}}

{{!-- Blogger's Username --}}
<label for="username">Username: {{user.username}}</label>
{{!-- Blog Date --}}
<label for="blogDate">Date Posted: {{blog.blog_post_date}}</label>
{{!-- Blog Title --}}
<label for="blogTitle">Blog Title: {{blog.blog_title}}</label>
{{!-- Blog Content --}}
<h1>blogContent:{{blog.blog_content}}</h1>

{{!-- For Each Comment --}}
{{!-- Display all Blogs --}}
<div>
    {{!-- Categories title --}}
    {{#each comment}}
    {{> commentBlog}}
    {{/each}}
</div>


{{!-- Comment Section --}}
<div class="comment-section">
    <input type="text" id="comment" placeholder="Write a comment...">
    <button data-id="{{blog.blog_id}}" type="submit" id="comment-btn"> Add Comment </button>
</div>

{{!-- If User's Own Post - Delete and Update Button --}}
{{#if isowner}}
<div class="owner-section">
    <button data-id="{{blog.blog_id}}" type="delete" id="delete-btn">Delete Blog</button>
</div>
{{/if}}

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">
            <label for="blogTitle">Title</label>
            <input class="contentModal" type="text" id="blogTitle" value="{{blog.blog_title}}" />
        </div>
        <div class="modal-header">
            <label for="blogContent">Content</label>
            <input class="contentModal" type="text" id="blogContent" value="{{blog.blog_content}}" />
        </div>
        <div class="modal-footer">
            <button data-id="{{blog.blog_id}}" type="submit" id="update-btn">Update Post</button>
            <button type="cancel" id="cancel-btn">Cancel</button>
        </div>
    </div>
</div>


{{!-- Script --}}
<script src="/js/comment.js"></script>

{{#if isowner}}
<script src="/js/delete.js"></script>
<script src="/js/updateBlog.js"></script>
{{/if}}